<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}FaceBlock{% endblock %}</title>
        {% stylesheets
          '@DelacquaFaceBlockBundle/Resources/css/app.css'
        %}
          <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
        {% javascripts
          '@DelacquaFaceBlockBundle/Resources/js/jquery.js'
          '@DelacquaFaceBlockBundle/Resources/js/click-handlers.js'
        %}
          <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
